<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <application>
    <service
      android:name=".KoltKeyboardService"
      android:exported="true"
      android:label="@string/kolt_keyboard_name"
      android:permission="android.permission.BIND_INPUT_METHOD">
      <intent-filter>
        <action android:name="android.view.InputMethod" />
      </intent-filter>
      <meta-data
        android:name="android.view.im"
        android:resource="@xml/kolt_input_method" />
    </service>
  </application>
</manifest>
